div.vPSP {
    background-color: #000;
    top: 0px;
    position: fixed;
    right: 0px;
    z-index: 99;
    /**/
    font-size: 40pt;
}

div.vPSP > table {
    border: 0px;
    border-spacing: 0px;
}

div.vPSP > table > tr {
    border: 0px;
}

div.vPSP > table > tr > th {
    background-color: #f00;
}

div.vPSP > table > tr > td {
    height: 20px;
    background-color: #fff;
    border: 0px;
    margin: 0px;
}
